<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="methods" thread-count="2">

<listeners>
		<listener class-name="com.crm.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="Test Basics 1">
	
		<classes>
			<class name=" com.crm.qa.TestCases.HomePageTestCase" ></class>
			<class name="com.crm.qa.TestCases.LoginTestCase" ></class>
			</classes>
			
	</test> <!-- Test -->


	<!-- Test -->
</suite> <!-- Suite -->